@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto&display=swap');

/*Nav bar*/
.navbar-block {
    background-color: darkslategrey !important;

}

.sidebar {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(47,79,79,1) 65%) !important;
}

.top-row {
    height: 5rem;
    display: flex;
    align-items: center;
}

/*Font*/
.shut-up {
    font-family: 'Reenie Beanie', cursive;
    transform: rotate(-5deg);
}

.transform {
    transform: rotate(30deg);
}


h1, shut-up {
    font-size: 12vw;
    color: darkslategrey;
}

h2, shut-up {
    font-size: 3.8rem;
    color: white;
}

.beanie {
    font-family: 'Reenie Beanie', cursive;
}

.text-green {
    color: darkslategrey !important;
}

.plus:hover {
    opacity: 0.5;
}


.roboto {
    font-family: 'Roboto', sans-serif;
}

a, .roboto {
    color: darkslategrey;
}



/*Login-page*/
.container-login {
    width: 50%;
}

.user-box:hover {
    opacity: 0.7;
}

.user-box a:hover {
    text-decoration: none;
    font-weight: 600;
}

.move-down {
    position: fixed;
    bottom: 0%;
}

/*Chat-page*/
.Write-message-box {
    position: sticky;
    bottom: 0%;
    padding: 2% 2% 1% 2%;
}

.text-box {
    box-sizing: border-box;
    width: 100%;
}

.btn-chat {
    color: #fff;
    background-color: #3b5d5d;
    border-color: black;
}
    .btn-chat:hover {
        color: #fff;
        background-color: #1d2f2f;
        border-color: black;
    }

@media (max-width: 767.98px) {
    .container-login {
        width: 100%;
    }
    .Write-message-box {
        background-color: rgba(47,79,79, 0.1);
        position: sticky;
        bottom: 0%;
        padding: 2% 2% 0% 2%;
    }
}


