@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ShutUp.Client.Services.StateContainers
@inject NavigationManager NavigationManager
@inject MessageStateContainer MessageState

@implements IDisposable


<h3>Chat</h3>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList" class="list-group">
    @foreach (var message in MessageState.Messages)
    {
        <li class="list-group-item">
            @message.Name <i class="small">@message.Date.ToString("yyyy-MM-dd HH:mm")</i><br />
            @message.MessageText
        </li>
    }
</ul>
