@page "/"
@using ShutUp.Client.Services.ApiServices
@using ShutUp.Client.Services.StateContainers
@inject UserApiService _userApi
@inject UserStateContainer _userState
@inject Blazored.LocalStorage.ILocalStorageService _localStore
@inject NavigationManager _navigationManager


@if (_userState.User.LoggedIn)
{
    <h2>Hej @_userState.User.Name</h2>

}
else
{
    @if (loading)
    {
        <p>Loading...</p> 
    }
    else
    {
        <br />
        <h6>Välj en användare att logga in med:</h6>
        <hr />
        <ul id="messagesList" class="list-group">
            @foreach (var user in registeredUsers)
            {
                <li class="list-group-item">
                    <a href="" @onclick="@(e => SelectUser(user.UserId))" @onclick:preventDefault>
                        @user.Name
                    </a>
                </li>
            }
        </ul>
    }
}





