@page "/"
@using ShutUp.Client.Services.ApiServices
@using ShutUp.Client.Services.StateContainers
@inject UserApiService _userApi
@inject UserStateContainer _userState
@inject Blazored.LocalStorage.ILocalStorageService _localStore
@inject NavigationManager _navigationManager


@if (_userState.User.LoggedIn)
{
    <div class="text-center mt-5">
        <h3 class="roboto text-green">Du är inloggad som @_userState.User.Name</h3>
        <button class="btn btn-lg btn-chat mt-3" @onclick="@RedirectToPinned">Gå vidare till sidan viktigt</button>
    </div>
}
else
{
    @if (loading)
    {
        <p>Loading...</p> 
    }
    else
    {

        <h1 class="text-center shut-up">Shut up!</h1>
        <div class="container container-login">
            <hr />
            <div class="row justify-content-md-center">
                @foreach (var user in registeredUsers)
                {
                    <div class="col-sm-3 text-center m-2 user-box">
                        <a href="" @onclick="@(e => SelectUser(user.UserId))" @onclick:preventDefault>
                            <img src="/img/@user.Avatar" class="rounded" alt="staff image" width="135" />
                            <p class="text-center roboto">@user.Name</p>
                        </a>
                    </div>
                }
            </div>
        </div>

    }
}





